Cython
imagesize
matplotlib
numpy>=1.24.4,<2.0
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
pyaml
pyclipper
pycocotools
paddleocr>=2.0.1
paddlepaddle==2.6.2
pytorch-lightning>=1.9.0,<2.0.0
shapely
scikit-image
imgaug
lmdb
tqdm
visualdl
rapidfuzz
lxml
premailer
openpyxl
attrdict
Polygon3
lanms-neo==1.0.2
PyMuPDF<1.21.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
streamlit
