Cython
imagesize
matplotlib
numpy
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python-headless
pyaml
pycocotools
pytorch-lightning>=1.9.0,<2.0.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
tqdm
streamlit
paddleocr
paddlepaddle==2.6.2
