Cython
imagesize
matplotlib
numpy==1.23.5  # Pinning to a compatible version
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-contrib-python
pyaml
pycocotools
pytorch-lightning>=1.9.0,<2.0.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
tqdm
streamlit
paddleocr>=2.0.1
paddlepaddle==2.6.2 
imgaug>=0.4.0  # Ensure compatibility with numpy
